body {
    background-color:deepskyblue;
    color: aqua;
    font-family: Arial, sans-serif;

}

heade {
    background-color: aquamarine;
    color: cornflowerblue;
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 36px;
}

h2 {
    color: cyan;
}

p {
    font-size: 18px;
    line-height: 1, 6;
}